   <!--! Divider -->
   <div class="relative my-6">
    <div class="absolute inset-0 flex items-center">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center text-sm">
      <span class="px-4 py-1 bg-white text-gray-500 rounded">Or Continue with</span>
    </div>
  </div>
  <!--! Social Icons -->
  <div class="flex justify-center space-x-4 pb-10">
    <button
      class="w-12 h-12 bg-white border border-gray-300 rounded-lg icons-shadow cursor-pointer  transition-shadow flex items-center justify-center">
      <span><img src="/imags/Logo-1.png" alt="google" class=" p-2 w-[35px]"></span>
    </button>
    <button
      class="w-12 h-12 bg-white border border-gray-300 rounded-lg icons-shadow cursor-pointer transition-shadow flex items-center justify-center">
      <span><img src="/imags/Logo-2.png" alt="twitter" class=" p-2 w-[35px]"></span>
    </button>
    <button
      class="w-12 h-12 bg-white border border-gray-300 rounded-lg icons-shadow cursor-pointer transition-shadow flex items-center justify-center">
      <span><img src="/imags/Logo-3.png" alt="facebook" class=" p-2 w-[35px]"></span>
    </button>
    <button
      class="w-12 h-12 bg-white border border-gray-300 rounded-lg icons-shadow cursor-pointer transition-shadow flex items-center justify-center">
      <span><img src="/imags/Logo-4.png" alt="apple" class=" p-2 w-[35px] "></span>
    </button>
  </div>
