<p-toast />
<div class="flex flex-col items-center justify-center  "  dataAos="fade-left" dataAosDuration="1000" data-aos-delay="600">
  <div class="w-full max-w-2xl  ">
    <!-- Header -->
    <div class="flex items-center justify-between mb-8 my-6">
      <h1 class="text-2xl font-bold text-gray-900">Forget your password ?</h1>
    </div>
    <!--! Form -->
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="space-y-4 w-2xs md:w-sm xl:w-lg max-w-lg mx-auto ">
 
      <!--! Email -->
      <div class="flex flex-col gap-1 ">
        <input pInputText type="email" id="email" placeholder="Email" formControlName="email"
          [class.ng-invalid]="isInvalid('email')"
          class="w-full p-3 border custom-shadow border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        @if (isInvalid('email')) {
        @if (forgetPasswordForm.get('email')?.errors?.['required']) {
        <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
        }
        @if (forgetPasswordForm.get('email')?.errors?.['email']) {
        <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
        }
        }
      </div>
      <!--! Forgot Password Link -->
      <div class="text-right mt-4">
        <span routerLink="/auth/forget-password" class="text-main cursor-pointer">Recover Password ? </span>
      </div>

      <!--! Submit Button -->
      <button pButton type="submit" [disabled]="isSubmitting"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-3 px-4 rounded-lg transition-colors disabled:opacity-50 disabled:cursor-not-allowed">
        @if (isSubmitting) {
          Sending otp...
        } @else {
          Send otp
        }
      </button>
      <!--! Divider line and icons components -->
      <app-divider-and-icons></app-divider-and-icons>
    </form>
  </div>
</div>
