<div class="flex flex-col  h-full bg-sec custom-rounded   custom-shadow z-50" dataAos="fade-right" dataAosDuration="1000" data-aos-delay="300">
    <div class="md:m-auto lg:ps-16 lg:pe-16 md:mt-20 ">
        <div class="md:mb-8 mb-1 text-center lg:text-left mt-6 lg:mt-0 p-4 md:p-0">
            <h1 class="md:text-5xl text-3xl  font-bold text-gray-900 md:mb-8 mb-2 ">Welcome to</h1>
            <h2 class="md:text-5xl text-3xl font-bold text-main md:pe-10">Elevate</h2>
        </div>
        <p class="text-lg font-medium text-center lg:text-left  text-black md:mb-12  max-w-lg p-4 md:p-0">
            Quidem autem voluptatibus qui quaerat aspernatur architecto natus
        </p>
        <div class="relative=">
            <div class="relative mx-auto lg:mx-0  z-10 w-sm lg:w-full p-10 md:p-0 ">
                <img class="lg:w-[80%]" src="/imags/auth.png" alt="student">
            </div>
        </div>
    </div>
</div>